.navbar-link {
    display: flex;
    justify-content: space-evenly;
}

.navbar-link li {
    list-style-type: none;
}

.navbar-link li a {
    color: white;
    text-decoration: none;
}

.menu {
    background: black;
    line-height: 90px;
}